{% extends 'index.html' %}

{% block content %}
<form id='login-box' name="login_form" action="/login" method="post">
    <div id="input-box">
        <div>
            <input id="id" type="text" placeholder="ID" name="userId"/>
            <input id="pw" type="password" placeholder="PASSWORD" name="password"/>
        </div>
        <div>
            <button id="logbutton" onclick="login()">login</button>
        </div>
    </div>
    <div class="registe">Not registered? <a id="goregist" href="/register">Create an account</a></div>
</form>
{% endblock %}