.num {
  border: none;
  width: 35px;
  background-color: #ff7777;
  color: white;
  cursor: pointer;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.add {
  border: none;
  background-color: #ff7777;
  color: white;
  width: 70px;
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.cart {
  border: none;
  width: 180px;
  background-color: #ff7777;
  height: 50px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  cursor: pointer;
}
