.item_div {
  width: 100px;
}

.input_title {
  display: inline-block;
  width: 100px;
  vertical-align: top;
}

.item_input {
  width: 300px;
  height: 20px;
}

.form_input_div {
  margin-bottom: 20px;
}

.dynamic_input_div {
  display: inline-block;
}

.style_select {
  width: 308px;
  height: 20px;
}

.alert_div {
  display: none;
}

.container {
  display: grid;
  width: 800px;
  height: 600px;
  border: black 2px solid;
  padding: 30px;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 205px);
  grid-auto-rows: 100px;
}

.item {
  display: flex;
  height: 180px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: black 1px solid;
}
