

header {
    color: rgb(0, 0, 0);
    display: flex;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: -0.30000001192092896px;
    line-height: 22.399999618530273px;
    margin-bottom: 0px;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 15px;
    width: 1140px;
}
h1 {
    font-family: "Noto Sans KR", sans-serif;
}
#first_nav {
    margin-top: 20px;
    position: relative;
    width: auto;
    height: auto;
    text-align: center;
    display: flex;
    color: #000000;
    align-items: flex-start;
    margin-left: 70px;
    margin-right: 70px;
    
}

#advertise {
    line-height: 60px;
    display: inline-block;
    background-color: #EDE9E9;
    width: 280px;
    height: 108px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    margin-right: 10px;
}

#search-box {
    width: 600px;
    border: 2px solid rgb(216, 216, 216);
    padding: 5px 0px 5px 5px;
    margin-right: 10px;
    box-sizing: border-box;
    height: 45px;
}

#search-button {
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    outline: 0;
    background-color: #fff;
    border: none;
}

#search-keys{
    cursor: pointer;
    font-family: "Noto Sans KR", sans-serif;
    display: block;
    float: left;
    margin-left: 20px;
    color: rgb(141, 141, 141);
}

input:-ms-input-placeholder {color: #a8a8a8;}
input::-webkit-input-placeholder {color: #a8a8a8;}
input::-moz-placeholder {color: #a8a8a8;}


#search-input{
    margin-left: 8px;
    outline: none;
    border:0px;
    font-size: 15px;
    float: left;
    width: 500px;
    height: 30px;
    float: inline-start;
}

#glass{
    float: inline-start;
    width: 25px;
    height: 25px;
}

#login-box {  
    padding: 12px;
    position: relative;
    text-align: center;
    max-width: 180px;
    box-shadow: 0 0 20px 0 rgba(66, 66, 66, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

#input-box {
    display: inline-block;
}
#id {

    outline: 0;
    width: 110px;
    border: 0;
    margin: 0 0 6px;
    box-sizing: border-box;
    border: 1px solid rgb(216, 216, 216);
    font-size: 0.7rem;

    outline: none; 
    float: left;

}
#pw {
    width: 110px;
    border: 0;
    margin: 0 0 6px;
    box-sizing: border-box;
    font-size: 0.7rem;
    border: 1px solid rgb(216, 216, 216);
    outline: none; 
    float: left;
}
#logbutton {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    outline: 0;
    background: rgb(255, 111, 97);
    width: 65px;
    height: 40px;
    border: 0;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;

  }
.registe {
    margin: auto;
    color: #b3b3b3;
    font-size: 10px;
    font-family: "Noto Sans KR", sans-serif;
}
#goregist {
    color: rgb(255, 111, 97);
}

ul {
    list-style: none;
}

#category-list{
    margin-top:30px;
    background-color: rgb(250, 248, 248);
    color: rgb(0, 0, 0);
    cursor: default;
    display: block;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    font-weight: normal;
    height: 50px;
    letter-spacing: -0.30000001192092896px;
    line-height: 22.399999618530273px;
    width: 1280px;
    z-index: 1000;
    
}

#categories{
display: flex;
font-family: "Noto Sans KR", sans-serif;
font-size: 14px;
font-weight: normal;
height: 50px;
justify-content: space-between;

width: 1140px;
}

#category-list-item{
    color: rgb(0, 0, 0);
    display: inline-block;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    font-weight: normal;
    height: 50px;
    letter-spacing: -0.30000001192092896px;
    line-height: 50px;

    margin:auto;

    position: relative;
    text-align: center;
    width: 120.96875px;
}

#category-link {
    text-decoration: none;
    color: black;
}

#search-key {
    text-decoration: none;
    color: rgb(141, 141, 141);
}

.slider {
    width: 500%;
    height: 406px;
    display: flex;
}

.slide{
    width: 20%;
    transition:2s;
}

.slider img{
    width: 100%;
    height: 405px;
}

.slider input{
    display: none;
}

.navigation-manual{
    position: absolute;
    margin-top: -25px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.manual-btn{
    border: 1.5px solid black;
    padding:5px;
    border-radius: 7px;
    cursor: pointer;
    transition:1s;
    margin-right: 10px;
}

.manual-btn:hover{
    background-color: black;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

#product-container{
    width: 100%;
    text-align: center;
}

.navigation-auto{
    position: absolute;
    margin-top: -25px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.navigation-auto div{
    border: 1.5px solid black;
    padding: 5px;
    border-radius: 7px;
    transition: 1s;
    margin-right: 10px;
} 

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: black;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background: black;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background: black;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background: black;
}

#set-products{
    margin: 25px 70px 25px 70px;
    width: 1140px;  
}

#product-ul{
    -webkit-box-align: start;
    align-items: flex-start;
    color: rgb(0, 0, 0);
    cursor: default;
    display: flex;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    font-weight: normal;
    height: 260px;
    width: 1140px;
    padding-left: 0px;
}

#product{
    cursor: default;
    display: block;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    font-weight: normal;
    height: 260px;
    width: 275px;
    margin-right: 13px;
}

#img-wrapper{
    cursor: default;
    display: block;
    height: 190px;
    width: 275px;
    background-color: #FEB49B;
}

footer{
    display: block;
    width: 100%;
    height: 156px;
    background-color: rgb(250, 248, 248);
}

.footer-box{
    display: block;
    width: 1140px;
    height: 90px;
    margin: 0 70px 0 70px;
    padding: 24px 0 42px 0;
}

#footer-text{
    font-family: "Noto Sans KR", sans-serif;
    font-size: 13px;
    font-weight: normal;    
    width: 850px;
    height: 90px;
    float: left;
    margin-right:8px;
    color: rgb(143, 142, 142);
}

#footer-link{
    display: inline-block;
    width: 112.5px;
    height: 36px;
}

#stores{
    color: rgb(161, 161, 161);
    cursor: auto;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 12px;
}

#google{
    vertical-align:text-bottom;
    margin-top: 6px;
    width: 28px;
    height: 28px;
    float: left;
    margin-right: 6px;
}

#apple{
    vertical-align:text-bottom;
    float: left;
}

#store-link{
    display: inline-block;
    padding-top: 12px;
    height: auto;
    width: auto;
}

#storelink{
    text-decoration: none;
}





